fastapi
uvicorn[standard]
gunicorn

sqlalchemy
psycopg2-binary

python-dotenv

passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-jose==3.3.0


email-validator
pydantic
pydantic[email]
pydantic-settings

alembic

python-multipart

requests
typing-extensions
